<h1 class="text-center">Create a Todo List!</h1>
<h4 class="text-center">This app will help you organize your life. Click below to get started</h4>
<p class="text-center">
        {{#link-to 'todos' class='btn btn-success'}}Create Your First Todo{{/link-to}}
</p>